extends layout

block content
  link(rel='stylesheets', href='/stylesheets/style.css')

  h1= title
  p Welcome to #{title}

  // Featured Products Section
  section
    h2 Featured Products
    // Loop through featured products and display them
    if featuredProducts
      each product in featuredProducts
        .product
          img(src=`/images/${product.image}`, alt=product.name)
          h3= product.name
          p= product.description
          p Price: $#{product.price}
          a(href=`/products/${product.id}`) View Details
    else 
      p No featured products available

  // Signup and Login Options
  section
    p Already have an account?
      a(href='/login') Click here to login

    p Don't have an account? 
      a(href='/signup') Click here to signup
